@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --color-1: #fff;
  --color-2: black;
  --color-3: hsl(0, 0%, 61%);
  --color-10: hsl(0, 0%, 49%);
  --color-4: rgb(229, 58, 58);
  --color-5: rgb(51, 206, 245);
  --color-6: rgb(241, 241, 241);
  --color-7: hsl(33, 96%, 64%);
  --color-8: hsl(0, 1%, 65%);
  --color-9: hsl(102, 66%, 54%);
  --color-11: hsl(102, 66%, 64%);
  --light-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  --bright-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  transition: all 0.3s ease;
  font-family: "roboto";
}

body {
  background-color: var(--color-6);
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 30px auto;
}

.mainContainer {
  width: 450px;
  height: 500px;
  background-color: var(--color-1);
  margin: auto;
  box-shadow: var(--light-shadow);
}

.playerContainer {
  width: 100%;
  height: 12%;
  background-color: var(--color-3);
  color: var(--color-1);
  font-size: 1.3rem;
  display: flex;
}
.playerContainer .playerInner {
  width: 50%;
  height: 100%;
}
.playerInner.active {
  border: 4px ridge var(--color-4);
  background-color: var(--color-10);
}
.playerContainer .playerInner ol {
  list-style: none;
  width: 100%;
  height: 100%;
}
.playerContainer .playerInner ol li {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#playerName {
  display: inline-block;
  width: 100px;
  height: 25.6px;
  font-size: 1.3rem;
  border: none;
  text-align: left;
  cursor: default;
  overflow: hidden;
}
#playerInput {
  display: inline-block;
  width: 100px;
  height: 25.6px;
  border: none;
  font-size: 1.3rem;
  background-color: transparent;
  color: var(--color-1);
  cursor: default;
}
#playerInput:focus {
  outline: none;
}
#eleStyle {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-4);
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: default;
}
#editName {
  background-color: var(--color-2);
  color: var(--color-1);
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px 10px;
  width: 60px;
  cursor: pointer;
}
#editName:hover {
  box-shadow: var(--bright-shadow);
}

.gameContainer {
  width: 100%;
  height: 88%;
  background-color: var(--color-7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#winStatus {
  position: absolute;
  top: 5%;
  font-size: 1.5rem;
  color: var(--color-1);
  background-color: var(--color-9);
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: var(--bright-shadow);
}

.gameContainer .gameBoard {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  gap: 10px;
  justify-content: center;
  align-content: center;
}
.gameBoard .gameBtn {
  font-size: 2rem;
  border-radius: 5px;
  border: none;
  background-color: var(--color-1);
  color: var(--color-2);
  cursor: pointer;
}
.gameBoard .gameBtn.active{
  background-color: var(--color-11);
  color: var(--color-1);
  font-size: 2.2rem;
}
.gameBoard .gameBtn:focus {
  outline: none;
}
.gameBoard .gameBtn:hover {
  box-shadow: var(--bright-shadow);
}
.gameBoard .gameBtn:disabled {
  opacity: 1;
  cursor: auto;
  box-shadow: none;
}

.newGame {
  position: absolute;
  bottom: 10px;
  font-size: 1rem;
  background-color: var(--color-10);
  color: var(--color-1);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.newGame.active {
  background-color: var(--color-4);
}
.newGame:hover {
  box-shadow: var(--bright-shadow);
}
